doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
        title #{PageName}
    body
        header.barra
            h1 
                a(href="/") UpTask - Administrador de Proyectos  #{year}
            a(href="#") Cerrar Sesion

        main.contenedor 
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/nuevo-proyecto" class="boton")  Nuevo Proyecto
                        span +
                .panel.lista-proyectos 
                    h2 Proyectos
                    ul#proyectos.proyectos
                        if(proyectos)
                            each proyecto in proyectos
                                li 
                                    a(href=`/proyectos/${proyecto.url}`)= proyecto.nombre  
            block contenido

            //pre=vardump(proyectos)
        script(src="/dist/bundle.js")
        script(src='https://use.fontawesome.com/446a5ed174.js')