doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario
            h1= PageName
            p Ingresa tu nueva contrase単a
            form.caja-login(method="POST" )
                .campo
                    label(for="password") Contrase単a
                    input(type="password" name="password" placeholder="Ingresa tu contrase単a" required)
                .campo.enviar
                    input.boton(type="submit" value="Cambiar Contrase単a")
