doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Bienvenido #{email} Confirmar tu Cuenta UpTask!
        p Activa tu cuenta haciendo click en el siguiente enlace
        a(href=`${confirmarUrl}`) Activar Cuenta Ahora
        p Si no ves el enlace, visita #{confirmarUrl}
        p Si no solicitaste este email, ignoralo.