doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Reestablecer Password
        p Hola, has solicitado reestablecer tu password, haz click en el siguiente enlace para completarl la operacion.
        a(href=`${resetUrl}`) Ir a resetear password
        p Si no ves el enlace, visita #{resetUrl}
        p Si no solicitaste este email, ignoralo.